<h1>All Superpowers</h1>

<ul>
  <% @powers.each do |power| %>
    <li>
      <%= link_to power.name.titleize, power_path(power)%>
      <br>
      Description: <%= power.description %>
    </li>
    <br>
  <% end %>
</ul>

<h3><%=link_to "Create a New Power?", new_power_path%></h3>

<h3><%=link_to "View Superheroines Instead?", heroines_path%></h3>
