<h2>All Heroines</h2>

<%= form_tag(heroines_path, method: :get) do %>
  Search by power <%= text_field_tag :power_name, params[:power_name] %>
<%= submit_tag 'Search', name: nil %>
<% end %>
<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.name, heroine_path(heroine) %>
    </li>
    <br>
  <% end %>
</ul>
