<h1> Hello citizen, my name is <%= @heroine.super_name %> and I'm a Superheroine!</h1><br>
<p> But you can call me <%= @heroine.name%>.</p>
<p> My super power is <%= link_to @heroine.power.name, power_path(@heroine.power) %>.</p>
